# Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://usuario:senha@host:5432/nome_do_banco"

# Chave secreta para assinatura dos tokens JWT
JWT_SECRET="sua_chave_secreta_aqui"

# Porta onde o servidor vai rodar
PORT=3000
